@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.modal-position {
    position: absolute;
    top: 0;
    right: 50px;
    bottom: 0;
    left: 50px;
    z-index: 10040;
    overflow: auto;
    overflow-y: clip;
}

#tableAlumnos{
    table-layout: fixed;
    overflow-y:scroll;
    height:500px;
    width:500px;
}

th{
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.scroll::-webkit-scrollbar {-webkit-appearance: none;}

.scroll::-webkit-scrollbar:vertical {width:10px;}

.scroll::-webkit-scrollbar:horizontal {height: 10px;}

.scroll::-webkit-scrollbar-track {border-radius: 10px;}

.scroll::-webkit-scrollbar-thumb {
    background-color: #b6b5b5;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.scroll::-webkit-scrollbar-thumb:hover{
    background-color: #bc4444;
}