.modal-contenido{
    background-color:rgb(253, 254, 254);
    width:400px;
    padding: 10px 20px;
    margin: 30% auto;
    margin-top: 15%;
    position: relative;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.modals{
    position:fixed;
    top:0;
    right:0;
    left:0;
    opacity:0;
    pointer-events:none;
}
    
.modals:target{
    opacity:1;
    pointer-events:auto;
}